on boot
    mount debugfs /sys/kernel/debug /sys/kernel/debug

    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp

    # bluetooth power up/down interface
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth sys/devices/platform/msm_serial_hs.0/serial_lock_cpu
    chmod 0660 /sys/devices/platform/msm_serial_hs.0/serial_lock_cpu

    # Permissions for Liblights.
    chown system system /sys/class/leds/red/brightness
    chown system system /sys/class/leds/red/blink
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/green/blink
    chown system system /sys/class/leds/amber/brightness
    chown system system /sys/class/leds/amber/blink
    chown system system /sys/class/leds/blue/brightness
    chown system system /sys/class/leds/blue/blink
    chown system system /sys/class/leds/keyboard-backlight/brightness
    chown system system /sys/class/leds/button-backlight/brightness
    chown system system /sys/class/leds/lcd-backlight/brightness
    # set CABC permissions
    chown system system /sys/class/leds/lcd-backlight/auto

    # flashlight
    chown system camera /sys/devices/platform/flashlight.0/leds/flashlight/brightness
    chmod 0660          /sys/devices/platform/flashlight.0/leds/flashlight/brightness

    # for Espresso VoiceCommand
    mkdir -p /data/local/tmp/com.nuance.android.vsuite.vsuiteapp
    chmod 0777 /data/local/tmp/com.nuance.android.vsuite.vsuiteapp

    # for playing streaming
    chown media media /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor

    # Copying hostapd.conf (WLAN HotSpot)
    copy /system/etc/wifi/softap/hostapd.conf /data/misc/wifi/hostapd.conf
    chown wifi wifi /data/misc/wifi

    # For Kineto GAN
    insmod /system/lib/modules/gan-eth.ko

    # performance tweaks for flash
    write /sys/block/mtdblock3/bdi/read_ahead_kb 4
    write /sys/block/mtdblock4/bdi/read_ahead_kb 4
    write /sys/block/mtdblock5/bdi/read_ahead_kb 4

# compass/accelerometer daemon
service akmd /system/bin/akmd
    user compass
    group compass misc input

service wlan_loader /system/bin/wlan_loader \
    -f /system/etc/wifi/Fw1273_CHIP.bin -e /proc/calibration \
    -i /system/etc/wifi/tiwlan.ini
    disabled
    oneshot

service wpa_supplicant /system/bin/wpa_supplicant \
    -Dtiwlan0 -itiwlan0 -c/data/misc/wifi/wpa_supplicant.conf -dd
    socket wpa_tiwlan0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_tiwlan0 /system/bin/dhcpcd -ABKL tiwlan0
    disabled
    oneshot

service iprenew_tiwlan0 /system/bin/dhcpcd -n
    disabled
    oneshot

# HotSpot Related services
service wlan_ap_loader /system/bin/tiap_loader \
    -f /system/etc/wifi/Fw1273_CHIP_AP.bin \
    -i /system/etc/wifi/softap/tiwlan_ap.ini
    disabled
    oneshot

service hostapd /system/bin/hostap -dd /data/misc/wifi/hostapd.conf
    disabled
    oneshot

service hciattach /system/bin/hciattach \
    -n -s 115200 /dev/ttyHS0 texasalt 4000000 flow
    user bluetooth
    group bluetooth net_bt_admin
    disabled

# bugreport is triggered by the KEY_BACK and KEY_MENU keycodes
service bugreport /system/bin/dumpstate -d -v -o /sdcard/bugreports/bugreport
    disabled
    oneshot
    keycodes 158 139

